<div ng-include="'views/common/templates/site-header.view.client.html'"></div>

<div class="main-body">
    <div class="container">
        <div class="page">
            <div >
                <div class="go-back"><a go-back>Go Back</a></div>
                <ol class="breadcrumb">
                    <li> <a href="#!/home">Home</a></li>
                    <li class="active">Genre</li>
                    <li class="active">{{model.genre}}</li>
                </ol>
            </div>
            <div>
                <h1>GENRE: {{model.genre}}</h1>

                <h2>Most Popular {{model.genre}} Feature Films</h2>
            </div>



            <div ng-include="'views/common/templates/movie-list.view.client.html'"></div>

        </div>
    </div>
</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>