<div ng-include="'views/common/templates/site-header.view.client.html'">

</div>

<div class="main-body">
    <div class="container">
        <div class="page">
            <div >
                <div class="go-back"><a go-back>Go Back</a></div>
                <ol class="breadcrumb">
                    <li> <a href="#!/home">Home</a></li>
                    <li><a href="#!/profile">Profile</a></li>
                    <li class="active">Your Reviews</li>
                </ol>
            </div>
            <div class="content">
                <!--<h1> Profile Page </h1>-->
                <div ng-include="'views/common/templates/profile-header.view.client.html'">

                </div>
                <div class="profile-content row">
                    <!--<h2>Profile page</h2>-->
                    <div class="col-sm-8">
                        <div class="profile-section row">
                            <h1 class="profile-section-header">Your Reviews</h1>

                            <div ng-show="model.userreviews" ng-repeat="review in model.userreviews" class="subsection">
                                <div class="panel panel-info">
                                    <div class="panel-heading"><h3>{{review.movieName}}</h3></div>
                                    <div ng-hide="model.selectedId === review._id && model.selectedId" class="panel-body">
                                        <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" ng-model="rating" ng-style="{'width':review.rating*(100/5)}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        </div>
                                        <div style="align-content: center">{{review.text}}</div>
                                        <div style="align-content: center">Posted On: {{review.posted | date:'fullDate'}}</div>
                                        <a ng-click="model.selectReview(review._id,review.text);editingId=review._id" class="btn unfollow-btn btn-info">Edit</a>
                                        <a ng-click="model.deleteReview(review.userId,review._id)" class="btn unfollow-btn btn-danger ">Delete</a>

                                    </div>
                                    <div ng-show="model.selectedId === review._id ">
                                        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                                        <div class="stars">
                                            <form action="">

                                                <label>Your Rating:</label>
                                                <br/>

                                                <input ng-model="model.rating" class="star star-5" id="stars-{{$index}}5" type="radio" name="star2" ng-value="'5'"/>
                                                <label class="star star-5" for="stars-{{$index}}5"></label>

                                                <input ng-model="model.rating" class="star star-4" id="stars-{{$index}}4" type="radio" name="star2" ng-value="'4'"/>
                                                <label class="star star-4" for="stars-{{$index}}4"></label>

                                                <input ng-model="model.rating" class="star star-3" id="stars-{{$index}}3" type="radio" name="star2" ng-value="'3'"/>
                                                <label class="star star-3" for="stars-{{$index}}3"></label>

                                                <input ng-model="model.rating" class="star star-2" id="stars-{{$index}}2" type="radio" name="star2" ng-value="'2'"/>
                                                <label class="star star-2" for="stars-{{$index}}2"></label>

                                                <input ng-model="model.rating" class="star star-1" id="stars-{{$index}}1" type="radio" name="star2" ng-value="'1'"/>
                                                <label class="star star-1" for="stars-{{$index}}1"></label>

                                                <label for="review2">Your Review:</label>
                                                <textarea id="review2" class="form-control" rows="4" ng-model="model.text2" style="resize: vertical;"></textarea>

                                                <a  ng-click="model.editReview(review._id,model.rating,model.text2)" class="btn unfollow-btn btn-success">Update</a>
                                                <a ng-click="model.cancel()" class="btn unfollow-btn btn-primary ">Cancel</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-hide="model.userreviews">
                                <h1 style="text-align: center" > Your have not posted any review</h1>
                                <div style="align-content: center"><span class=""></span></div>
                                <h3 style="text-align: center"> Share your opinion</h3>
                            </div>
                        </div>
                    </div>
                    <div ng-include="'views/common/templates/profile-sidebar.view.client.html'"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>