
<div class="content">

    <div class="page-section sorter ">
            <div class="row">
                <div class="col-xs-6 col-sm-12">
                    Sort By:
                    <select ng-model="model.attribute"  name="attr" >
                        <option ng-selected="model.attribute == ''" value=''>Select</option>
                        <option ng-selected="model.attribute == 'popularity'" value='popularity'>Popularity</option>
                        <option ng-selected="model.attribute == 'release_date'" value='release_date'>Recently Released</option>
                        <option ng-selected="model.attribute == 'revenue'" value='revenue'>Revenue</option>
                        <option value="vote_average">Average Rating</option>
                    </select>

                    OrderBy

                        <select ng-model="model.order" name="sort" >
                            <option value="" selected="selected">Select</option>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    <button class="btn unfollow-btn btn-info " ng-click="model.search(model.attribute,model.order)">
                        Search
                    </button>
                </div>
            </div>
    </div>

   <div class="page-section hidden-xs">
       <div class="row  sorter ">
             <div class="col-xs-12 col-sm-7 hidden-xs">
                <div class=''>
                    <p style="color: #b92c28;font-size: 20px; margin-left: 160px;"> Title and Release Year
                    </p>
                </div>
             </div>
               <div class="col-sm-3"><p  style="color: #b92c28;font-size: 20px; "> TMDB Rating</p></div>
                <div class="col-sm-1 hidden-xs" style="color: #b92c28;font-size: 20px;">
                    Watch/Like
                </div>

        </div>
   </div>


   <div class="">
         <div ng-repeat="movie in model.movies" class="row page-section">

              <div class="movie-list">
                  <div class="col-xs-12 col-sm-7 ">
                      <!--<span style="display:inline"> {{$index+1 + model.pagenumber}} .</span>-->
                      <figure >
                         <img id="user-picture" class="col-xs-4" ng-src={{movie.poster_path}}  alt="No Image Found">
                     </figure>
                     <a href="#!/movie/{{movie.id}}"> <p class="movie-name" >{{movie.title}}
                          <span>({{movie.release_date}})</span>
                      </p></a>
                     <p class="movie-like hidden-sm hidden-md hidden-lg "><span>
                            <a style="padding-right:15px;" ng-hide="model.watchListMovies.indexOf(movie.id)>-1" href=""
                               ng-click="model.bookmark(movie.id)" class="fa fa-plus"></a>
                            </span>
                                  <span>
                            <a style="padding-right:15px;" ng-show="model.watchListMovies.indexOf(movie.id)>-1" href=""
                               ng-click="model.removebookmark(movie.id)" class="fa fa-check"></a>
                        </span>
                                  <span style="font-size: 30px">
                            <a ng-hide="model.likedMovies.indexOf(movie.id)>-1" href="" ng-click="model.likeMovie(movie.id)" class="fa fa-thumbs-o-up"></a>
                        </span>
                                  <span style="font-size: 30px">
                            <a ng-show="model.likedMovies.indexOf(movie.id)>-1" href="" ng-click="model.unlikeMovie(movie.id)" class="fa fa-thumbs-up"></a>
                        </span>
                      </p>

                  </div>
                  <div class="col-sm-3 hidden-xs">
                        <p class="movie-rating  ">{{movie.vote_average}}
                            <span class="fa fa-star" style="padding-left:5px;padding-right:5px; color: #ffd700"></span><strong>({{movie.vote_count}} votes)</strong>
                        </p>
                  </div>
                <div class="col-sm-2 col-xs-4 hidden-xs">
                    <p class="movie-like"><span>
                        <a style="padding-right:15px;" ng-hide="model.watchListMovies.indexOf(movie.id)>-1" href="" ng-click="model.bookmark(movie.id)" class="fa fa-plus"></a>
                    </span>
                    <span>
                        <a style="padding-right:15px;" ng-show="model.watchListMovies.indexOf(movie.id)>-1" href="" ng-click="model.removebookmark(movie.id)" class="fa fa-check"></a>
                    </span>
                    <span style="font-size: 30px">
                        <a ng-hide="model.likedMovies.indexOf(movie.id)>-1" href="" ng-click="model.likeMovie(movie.id)" class="fa fa-thumbs-o-up"></a>
                    </span>
                    <span style="font-size: 30px">
                        <a ng-show="model.likedMovies.indexOf(movie.id)>-1" href="" ng-click="model.unlikeMovie(movie.id)" class="fa fa-thumbs-up"></a>
                    </span>
                    </p>
                </div>
             </div>
         </div>
   </div>
        <!--<p>-->
            <!--{{movie.overview}}-->
        <!--</p>-->

        <!--<strong>Directors:</strong>-->
        <!--<span ng-repeat="director in model.directors">-->
                    <!--{{director}}<span ng-show=" ! $last ">,</span>-->
                    <!--</span>-->

        <!--<p>-->
            <!--<strong>Actors:</strong>-->
            <!--<span ng-repeat="actor in model.actors">-->
                    <!--{{actor.name}}<span ng-show=" ! $last ">,</span>-->
                    <!--</span>-->
        <!--</p>-->

<!--<div class="table-responsive">-->
<!--<table class="table">-->
<!--<thead>-->
<!--<h2>Most Popular {{model.genre}} Feature Films</h2>-->
<!--</thead>-->
<!--<tbody class="col-md-12">-->
<!--<tr class="active" ng-repeat="movie in model.movies">-->
<!--<td>  {{$index+1 + model.pagenumber}} .</td>-->
<!--<td class="hidden-sm hidden-xs" width="20%">-->
<!--<img src="{{movie.poster_path}}"-->
<!--alt="http://i.amz.mshcdn.com/EcodAVAlQrEOPy8QfgBFO-vZP0M=/fit-in/850x850/http%3A%2F%2Fmashable.com%2Fwp-content%2Fgallery%2Fentertaining-404-error-pages%2Fchrisjennings.jpg">-->
<!--</td>-->
<!--<td>-->
<!--<h1><a href="">{{movie.title}}</a>-->
<!--<span>({{movie.release_date}})</span>-->
<!--</h1>-->

<!--<span style="display: inline-table">-->
<!--{{movie.vote_average}}-->
<!--<span class="fa fa-star"></span>-->
<!--({{movie.vote_count}} votes)-->
<!--</span>-->

<!--<p>-->
<!--{{movie.overview}}-->
<!--</p>-->

<!--<strong>Directors:</strong>-->
<!--<span ng-repeat="director in model.directors">-->
<!--{{director}}<span ng-show=" ! $last ">,</span>-->
<!--</span>-->

<!--<p>-->
<!--<strong>Actors:</strong>-->
<!--<span ng-repeat="actor in model.actors">-->
<!--{{actor.name}}<span ng-show=" ! $last ">,</span>-->
<!--</span>-->
<!--</p>-->

<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<div class="center-align">
    <ul class="pagination pagination-lg">
        <li><a href="" ng-click="model.pagination(1)">1</a></li>
        <li><a href="" ng-click="model.pagination(2)">2</a></li>
        <li><a href="" ng-click="model.pagination(3)">3</a></li>
        <li><a href="" ng-click="model.pagination(4)">4</a></li>
        <li><a href="" ng-click="model.pagination(5)">5</a></li>
    </ul>
</div>
</div>