<div class="col-sm-4 hidden-xs">
    <div class="side-bar">
        <div class="profile-section side-bar-section">
            <h1 class="profile-section-header">Quick Links</h1>
            <ul>
                <li style="margin-bottom: 10px"><span><a href="#!/user/account">Your account</a></span></li>
                <li style="margin-bottom: 10px"><span><a href="#!/user/user_reviews">Reviews</a></span></li>
                <li style="margin-bottom: 10px"><span><a href="#!/user/watchlist">Watchlist</a></span></li>
                <li style="margin-bottom: 10px"><span><a href="#!/user/followers">Followers</a></span></li>
                <li style="margin-bottom: 10px"><span><a href="#!/user/likedmovies">Likes</a></span></li>
                <li style="margin-bottom: 10px"><span><a href="#!/user/following">Following</a></span></li>

            </ul>
        </div>
    </div>
</div>