<div ng-include="'views/common/templates/site-header.view.client.html'">

</div>

<div class="main-body">
		<div class="container">
			<div class="page">
				<div >
					<div class="go-back"><a go-back>Go Back</a></div>
					<ol class="breadcrumb">
						<li><a href="#!/home">Home</a></li>
						<li class="active">About </li>
					</ol>
				</div>

				<div class="row margin-top">
					<div class="col-md-4">
						<figure><img src="../../../images/about_me.jpg" alt="figure image"></figure>
					</div>
					<div class="col-md-8">
						<p class="leading">
							Find age-appropriate movies, books, apps, TV shows, video games, websites, and music that you and your kids will love. Browse our library of more than 28,000 reviews by age, entertainment type, learning rating, genre, and more using the filters in the left column.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-9">
						<h2 class="section-title">Vision &amp; Misssion</h2>
						<p>
							Our Website is a Focus on the Family publication designed to shine a light on the world of popular entertainment while giving families the essential tools they need to understand, navigate, and impact the culture in which they live. Through our reviews, articles and discussions, we hope to spark intellectual thought, spiritual growth and a desire to follow the command of Colossians 2:8: "See to it that no one takes you captive through hollow and deceptive philosophy, which depends on human tradition and the basic principles of this world rather than on Christ."

							Each month, It is visited more than 1 million times by people looking for detailed information about what's really in popular movies, videos, television episodes, songs and games. Entertainment industry ratings only tell you so much. We go deeper, diving into specific content and the meaning behind it. Our award-winning website also offers news and blogs.
						</p>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam dignissimos ducimus qui blanditiis praesentium voluptatum atque.</p>
					</div>
					<div class="col-md-3">
						<h2 class="section-title">Useful Links</h2>
						<ul class="arrow">
							<li><a href="#!/home">Home</a></li>
							<li><a href="#!/profile">Profile</a></li>
							<li><a href="#!/theatremovie">Recently released Movies</a></li>
							<li><a href="#!/coming-soon">Coming Soon Movies</a></li>
						</ul>
					</div>
				</div> <!-- .row -->

				<h2 class="section-title">Our Team</h2>
				<div class="row">

					<div class="col-md-6">
						<div class="team">
							<figure class="team-image"><img width="50%" height="50" class="img-circle img-responsive" src="https://www.flylanddesigns.com/wp-content/uploads/Hip-hop-Zombie-thumb.jpg" alt=""></figure>
							<h2 class="team-name">Shubham Deb</h2>
							<small class="team-title">Co-founder</small>
							<div class="social-links">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="team">
							<figure class="team-image"><img width="70%" height="90" class="img-circle img-responsive" src="../../../dummy/IMG_8308.JPG" alt=""></figure>
							<h2 class="team-name">Shabbir Saifee</h2>
							<small class="team-title">Co-Founder</small>
							<div class="social-links">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> <!-- .container -->
	</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>



<script src="../../../js/jquery-1.11.1.min.js"></script>
<script src="../../../js/plugins.js"></script>
<script src="../../../js/app.js"></script>