<div ng-include="'views/admin/templates/dashboard-header.view.client.html'">

</div>

<div class="main-body">
    <div class="container">
        <div class="page">
            <div >
                <div class="go-back"><a go-back>Go Back</a></div>
                <ol class="breadcrumb">
                    <li> <a href="#!/admin/dashboard">Dashboard</a></li>
                    <li class="active">User Profile</li>
                    <li class="active">{{model.editUser.username}} </li>
                </ol>
            </div>
            <div class="content">
                <!--<h1> Profile Page </h1>-->
                <div ng-include="'views/admin/templates/edit-user-profile-header.view.client.html'">

                </div>
                <div class="profile-content row">
                    <!--<h2>Profile page</h2>-->
                    <div class="col-sm-8">

                        <div class="profile-section row">
                            <h1 class="profile-section-header">Personal Information</h1>
                            <div class="see-more">
                                <h5><span><a data-toggle="collapse" href="#personalInfo" target="_self" aria-expanded="false" aria-controls="personalInfo">See all ></a></span></h5>
                            </div>

                            <div class="collapse" id="personalInfo">
                                <div ng-show="model.updateSuccess" class="alert alert-success"><h3> {{model.updateSuccess}}</h3></div>
                                <form class="form-horizontal info-form" action="#">
                                    <label for="txtUsername">Username</label>
                                    <input ng-disabled="true" ng-model="model.editUser.username" id="txtUsername" class="form-control" type="text" placeholder="user name" >

                                    <label for="txtEmail">Email</label>
                                    <input ng-model="model.editUser.email" id="txtEmail" class="form-control" type="email" placeholder="Email">

                                    <label for="txtFirstname">First Name</label>
                                    <input ng-model="model.editUser.firstName" id="txtFirstname" class="form-control" type="text" placeholder="First Name">

                                    <label for="txtLastname">Last Name</label>
                                    <input ng-model="model.editUser.lastName" id="txtLastname" class="form-control" type="text" placeholder="Last Name">

                                    <label for="selectRole">User Role</label>
                                    <select style="margin-bottom: 5px;" id="selectRole" class="form-control" ng-model="model.editUser.role" name="attr" >
                                            <option ng-selected="model.editUser.role == 'user'" value='user' >user</option>
                                            <option ng-selected="model.editUser.role == 'admin'" value='admin'>admin</option>
                                            <option ng-selected="model.editUser.role == 'critic'" value='critic'>critic</option>
                                        </select>


                                    <a class="btn btn-info btn-block" ng-click="model.updateUser()">Update Info</a>

                                    <a class="btn btn-block btn-danger" ng-click="model.deleteUser(model.editUser._id)">Delete Profile</a>

                                </form>
                            </div>











                        </div>

                        <div class="profile-section row">
                            <h1 class="profile-section-header">Watchlist</h1>
                                <div ng-show="model.movies.length>0" class="see-more">
                                    <h5><span><a ng-click="model.expandWatchlist()" data-toggle="collapse" href="#watchlist" target="_self" aria-expanded="false" aria-controls="watchlist">See all ></a></span></h5>
                                </div>

                            <div class="collapse" id="watchlist" >
                                <div class="subsection" ng-repeat="movie in model.movies">
                                    <div class=" row " >
                                        <div class="col-sm-4 hidden-xs">
                                            <img src="{{movie.poster_path}}"/>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <a href="#!/movie/{{movie.id}}"> <span style="font-size: 20px">{{movie.title}} </span> </a>
                                            <span style="font-size: 20px">({{movie.release_date.split("-")[0]}})</span>
                                            <p>{{movie.vote_average}} <span>({{movie.vote_count}} votes)</span></p>
                                            <span style="font-size: inherit">{{movie.overview}}</span>
                                            <div>
                                                <strong>Genres:</strong>
                                                <span ng-repeat="genre in movie.genres">
                                        {{genre.name}}<span ng-show=" ! $last ">,</span>
                                        </span>
                                            </div>
                                            <div class="unfollow-btn-div"> <a class="btn unfollow-btn btn-danger" ng-click="model.deleteMovieFromWatchlist(movie.id)">
                                                Delete
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-hide="model.movies">
                                <p>Watchlist is empty.</p>
                            </div>
                        </div>

                        <div class="profile-section row">
                            <h1 class="profile-section-header">Reviews</h1>
                            <div ng-show = "model.userreviews.length>0" class="see-more">
                                <h5><span><a data-toggle="collapse" href="#reviewList" target="_self" aria-expanded="false" aria-controls="reviewList">See all ></a></span></h5>
                            </div>
                            <div class="collapse" id="reviewList">
                                <div ng-show="model.userreviews" ng-repeat="review in model.userreviews" class="subsection">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><h3>{{review.movieName}}</h3></div>
                                        <div ng-hide="model.selectedId === review._id && model.selectedId" class="panel-body">
                                            <div class="star-ratings-css">
                                                <div class="star-ratings-css-top" ng-model="rating" ng-style="{'width':review.rating*(100/5)}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                            </div>
                                            <div style="align-content: center">{{review.text}}</div>
                                            <div style="align-content: center">Posted On: {{review.posted | date:'fullDate'}}</div>
                                            <a ng-click="model.selectReview(review._id,review.text);editingId=review._id" class="btn unfollow-btn btn-info">Edit</a>
                                            <a ng-click="model.deleteReview(review.userId,review._id)" class="btn unfollow-btn btn-danger ">Delete</a>

                                        </div>
                                        <div ng-show="model.selectedId === review._id ">
                                            <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                                            <div class="stars">
                                                <form action="">

                                                    <label>Your Rating:</label>
                                                    <br/>

                                                    <input ng-model="model.rating" class="star star-5" id="stars-{{$index}}5" type="radio" name="star2" ng-value="'5'"/>
                                                    <label class="star star-5" for="stars-{{$index}}5"></label>

                                                    <input ng-model="model.rating" class="star star-4" id="stars-{{$index}}4" type="radio" name="star2" ng-value="'4'"/>
                                                    <label class="star star-4" for="stars-{{$index}}4"></label>

                                                    <input ng-model="model.rating" class="star star-3" id="stars-{{$index}}3" type="radio" name="star2" ng-value="'3'"/>
                                                    <label class="star star-3" for="stars-{{$index}}3"></label>

                                                    <input ng-model="model.rating" class="star star-2" id="stars-{{$index}}2" type="radio" name="star2" ng-value="'2'"/>
                                                    <label class="star star-2" for="stars-{{$index}}2"></label>

                                                    <input ng-model="model.rating" class="star star-1" id="stars-{{$index}}1" type="radio" name="star2" ng-value="'1'"/>
                                                    <label class="star star-1" for="stars-{{$index}}1"></label>

                                                    <label for="review2">Your Review:</label>
                                                    <textarea id="review2" class="form-control" rows="4" ng-model="model.text2" style="resize: vertical;"></textarea>

                                                    <a  ng-click="model.editReview(review._id,model.rating,model.text2)" class="btn unfollow-btn btn-success">Update</a>
                                                    <a ng-click="model.cancel()" class="btn unfollow-btn btn-primary ">Cancel</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-hide="model.userreviews.length>0">
                                <p>No reviews posted.</p>
                            </div>
                        </div>

                        <div class="profile-section row">
                            <h1 class="profile-section-header">Likes</h1>

                            <div class="see-more" ng-show="model.likedmovies.length>0">
                                <h5><span><a data-toggle="collapse" href="#likedMovieList" target="_self" aria-expanded="false" aria-controls="reviewList">See all ></a></span></h5>
                            </div>

                             <div class="collapse" id="likedMovieList">
                             <div class="row subsection" ng-repeat="movie in model.likedmovies">
                                <div class="col-sm-4 hidden-xs">
                                    <img src="{{movie.poster_path}}"/>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <a href="#!/movie/{{movie.id}}"> <span style="font-size: 20px">{{movie.title}} </span> </a>
                                    <span style="font-size: 20px">({{movie.release_date.split("-")[0]}})</span>
                                    <p>{{movie.vote_average}} <span>({{movie.vote_count}} votes)</span></p>
                                    <span style="font-size: inherit">{{movie.overview}}</span>
                                    <div>
                                        <strong>Genres:</strong>
                                        <span ng-repeat="genre in movie.genres">
                {{genre.name}}<span ng-show=" ! $last ">,</span>
                </span>
                                    </div>
                                    <a class="btn unfollow-btn btn-danger " ng-click="model.deleteLikedMovie(movie.id )">
                                        Delete
                                    </a>
                                </div>


                            </div>
                         </div>
                            <div ng-hide="model.likedmovies.length>0">
                                <p>No likes.</p>
                            </div>
                        </div>

                        <div class="profile-section row">
                            <h1 class="profile-section-header">People followed By user</h1>
                            <div  ng-show="model.editUser.following.length >0">
                                <div class="see-more" ng-show="model.editUser.following.length !==0">
                                    <h5><span><a data-toggle="collapse" href="#followingList" target="_self" aria-expanded="false" aria-controls="watchlist">See all ></a></span></h5>
                                </div>
                            </div>
                            <div class="collapse" id="followingList">
                                <!--{{model.editUser.following}}-->
                                <div class="row profile-sub-section" ng-repeat="following in model.editUser.following">


                                    <div class="col-xs-12">
                                        <div id="user-picture">
                                            <img style="height: 145px;width: 120px" class="image"
                                                 ng-src="{{following.url}}" onerror="this.src='../../../images/profile.jpg'">
                                            <div>
                                                <!--<label style="color:blue;cursor: pointer;" for="input">Edit</label>-->

                                            </div>
                                        </div>
                                        <div class="user-details">
                                            <h1>{{following.username}}</h1>
                                        </div>
                                        <div ng-show="model.user._id "style=" margin-left: 10px;">

                                            <a class="btn unfollow-btn btn-danger"
                                               ng-click="model.unfollow(following._id)">Unfollow</a>
                                        </div>
                                    </div>

                                    <!--<div class="col-xs-4 col-sm-3 profile ">-->
                                        <!--<object data="{{following.url}}" width=200 height=200>-->
                                            <!--<img src="../../../images/profile.png" alt="Just testing.">-->
                                        <!--</object>-->
                                    <!--</div>-->
                                    <!--<div class="col-xs-8 col-sm-9 ">-->
                                        <!--<h3> {{following.username}} </h3>-->
                                        <!--<div ng-show="model.user._id">-->

                                            <!--<a class="btn unfollow-btn btn-danger"-->
                                               <!--ng-click="model.unfollow(following._id)">Unfollow</a>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>
                            </div>
                            <div ng-hide="model.ediUser.following.length>0 || model.editUser.following">
                                <p>User don't have any followers.</p>
                            </div>
                    </div>


                    </div>
                    <div ng-include="'views/common/templates/profile-sidebar.view.client.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

