<header class="site-header">
    <div class="container">

        <!-- #branding -->
        <a href="#!/home" id="branding">
            <img src="../../../images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">Know Your Movie</h1>
                <small class="site-description">You WILL know your movie</small>
            </div>
        </a>

        <!-- .main-navigation -->
        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item"><a href="#!/home">Home</a></li>
                <li class="menu-item"><a href="#!/aboutUs">About</a></li>
                <li class="menu-item"><a href="#!/movie_review">Movie reviews</a></li>
                <li class="menu-item"><a href="#!login" data-toggle="modal">Login</a></li>
                <li class="menu-item"><a href="#!/joinUs">Join Us</a></li>
                <li class="menu-item"><a href="#!/contactUs">Contact</a></li>
            </ul> <!-- .menu -->

            <form action="#" class="search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="mobile-navigation"></div>


    </div>
</header>