<head>
    <script src="../../../js/jquery.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#search-trigger').click(function () {
                $('#search-input').css({'width':'150px','display':'initial'});
            })
        });

        $(document).click(function (e) {
            if(!$(e.target).closest('.ngen-search-form').length){
                $('#search-input').css({'width':'0px','display':'none'});
            }
        });
    </script>
</head>

<header>

<div class="site-header">
    <div class="container">
        <!-- #branding -->
        <nav class="navbar navbar-default">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 15px;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-left" href="#!/home">
                        <img src="../../../images/website-logo.jpg" style="height: 50px;padding: 0 0 0 10px;" alt="MovieViews">
                    </a>
                </div>


                <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <form class="navbar-form">
                                <div class="input-group ">
                                    <input type="text" class="form-control" ng-model="model.query"  placeholder="Search">
                                    <span class="input-group-btn">
                                        <button  ng-click="model.searchMovie(model.query)" class="btn btn-default form-search-submit" type="button">
                                            <span class="fa fa-search"></span>
                                            <!--<span><img src="../../../images/search.jpg"></span>-->
                                        </button>
                                  </span>
                                </div>
                            </form>
                        </li>
                        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Movies<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/theatremovie">In Theatres</a></li>
                                <li><a href="#!/coming-soon">Coming Soon</a></li>
                                <li><a href="#!/top-rated">Top Rated Movies</a></li>
                                <li class="dropdown">

                                </li>

                            </ul>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown">Genre <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-2">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#!/movie/genre/28">Action</a></li>
                                            <li><a href="#!/movie/genre/12">Adventure</a></li>
                                            <li><a href="#!/movie/genre/16">Animation </a></li>
                                            <li><a href="#!/movie/genre/35">Comedy</a></li>
                                            <li><a href="#!/movie/genre/80">Crime</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-4">
                                        <ul class=" multi-column-dropdown">
                                            <li><a href="#!/movie/genre/18">Drama</a></li>
                                            <li><a href="#!/movie/genre/14">Fantasy</a></li>
                                            <li><a href="#!/movie/genre/36">History</a></li>
                                            <li><a href="#!/movie/genre/27">Horror</a></li>
                                            <li><a href="#!/movie/genre/10402">Musical</a></li>
                                            <li><a href="#!/movie/genre/9648">Mystery</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#!/movie/genre/10749">Romance</a></li>
                                            <li><a href="#!/movie/genre/878">Sci-Fi</a></li>
                                            <li><a href="#!/movie/genre/10770">TV Movie</a></li>
                                            <li><a href="#!/movie/genre/53">Thriller</a></li>
                                            <li><a href="#!/movie/genre/10752">War</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">News <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/news/top_news">News</a></li>
                                <li><a href="#!/news/latest_reviews">Lastest Reviews</a></li>
                                <li><a href="#!/news/talking_points">Talking Points</a></li>
                            </ul>
                        </li>
                        <li><a href="#!/aboutUs">About</a></li>
                        <li><a href="#!/contactUs">Contact</a></li>
                        <!--<li ><a ng-click="showLoginModel()" data-target="#myLoginModal" data-toggle="modal" >Login</a></li>-->
                        <li ng-if="!model.isLoggedIn._id"><a href="#!/login">Login</a></li>
                        <!--<li ng-if="model.isLoggedIn._id"><a href="#!/profile">Profile</a></li>-->
                        <li ng-if="model.isLoggedIn._id" class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> {{model.isLoggedIn.username}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/profile">Profile</a></li>
                                <li><a href="#!/user/watchlist">Watch List</a></li>
                                <li><a href="#!/user/user_reviews">Your Reviews</a></li>
                                <li><a href="#!/user/account">Account Settings</a></li>
                                <li ng-if="model.user.role.indexOf('admin')!= -1"><a href="#!/admin/dashboard">Dashboard</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a  ng-click="model.logout()">Log out</a></li>
                            </ul>
                        </li>

                        <!--<li class="navbar hidden-xs">-->
                            <!--<form class="navbar-form form-search ngen-search-form">-->
                                <!--<div class="input-group ">-->
                                    <!--<input id="search-input" type="text" class="form-control form-search-input" placeholder="Search">-->
                                    <!--<span class="input-group-btn">-->
                                        <!--<button id="search-trigger" class="btn btn-default form-search-submit" type="button">-->
                                            <!--<span class="fa fa-search"></span></button>-->
                                  <!--</span>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</li>-->
                        <!--<li class="navbar hidden-sm hidden-md hidden-lg">-->
                            <!--<form class="navbar-form">-->
                                <!--<div class="input-group ">-->
                                    <!--<input type="text" class="form-control" ng-model="model.query" placeholder="Search">-->
                                    <!--<span class="input-group-btn">-->
                                        <!--<button  ng-click="model.searchMovie(model.query)" class="btn btn-default form-search-submit" type="button">-->
                                            <!--<span class="fa fa-search"></span>-->
                                            <!--&lt;!&ndash;<span><img src="../../../images/search.jpg"></span>&ndash;&gt;-->
                                        <!--</button>-->
                                  <!--</span>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</li>-->


                    </ul>


                </div><!-- /.navbar-collapse -->
        </nav>

    </div>

</div>
<div ng-include="'views/common/templates/login.view.client.html'"></div>
</header>